<form class="settings" (ngSubmit)="submitDialog()" fxLayout="column">
    <header class="settings__header">Settings</header>
    <md-list class="settings__list" fxFlex="100%">
        <md-list-item class="settings__list__item">
            <div md-line>Use real data</div>
            <p md-line>Limits to 60 requests per hour by Github</p>
            <md-slide-toggle [(ngModel)]="checked" (change)="toggleInputStatus()" name="slide"></md-slide-toggle>
        </md-list-item>
        <md-list-item>
            <md-input-container class="settings__list__input">
                <input mdInput placeholder="{{placeholder}}" [formControl]="repoInput">
                <md-error *ngIf="repoInput.hasError('required')">
                    A repository name is required
                </md-error>
                <md-error *ngIf="repoInput.hasError('repoExists')">
                    No such repo, please try again
                </md-error>
            </md-input-container>
        </md-list-item>
    </md-list>
    <footer class="settings__footer" fxFlexAlign="end">
        <button md-button type="reset" (click)="closeDialog()">DECLINE</button>
        <button md-button type="submit">APPLY</button>
    </footer>
</form>

<!--(click)="dialogRef.close(repoInput.value)"-->

<!--<h1 md-dialog-title>Dialog</h1>-->
<!--<div md-dialog-content>What would you like to do?</div>-->
<!--<div md-dialog-actions>-->
    <!--<button md-button md-dialog-close="Option 1">Option 1</button>-->
    <!--<button md-button md-dialog-close="Option 2">Option 2</button>-->
<!--</div>-->
