<md-sidenav-container class="sidenav-container" [ngClass]="{'is-visible': navIsVisible, 'is-hidden': !navIsVisible}">
    <md-sidenav #sidenav mode="over" class="sidenav"
                [ngClass]="{'is-visible': navIsVisible, 'is-hidden': !navIsVisible}">
        <md-toolbar class="sidenav__header">
            <md-list class="sidenav__header__list">
                <md-list-item>
                    <md-icon md-list-icon class="sidenav__header__icon">dashboard</md-icon>
                    <h4 md-line class="sidenav__header__text">Reboard</h4>
                    <p md-line class="sidenav__header__subtext">{{repoName}}</p>
                </md-list-item>
            </md-list>
        </md-toolbar>
        <md-nav-list class="sidenav__list">
            <a md-list-item routerLink="{{link.path}}" *ngFor="let link of mainLinks">
                <md-icon class="sidenav__list__icon">{{link.icon}}</md-icon>
                {{link.name }}
            </a>
        </md-nav-list>

        <md-nav-list class="sidenav__list">
            <a md-list-item href class="sidenav__list__icon" *ngFor="let sublink of subLinks">
                <md-icon class="sidenav__list__icon">{{sublink.icon}}</md-icon>
                {{sublink.name }}
            </a>
        </md-nav-list>
    </md-sidenav>
    <app-header [sidenav]="sidenav"></app-header>
    <div class="sidenav__content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
