<div class="issues">
    <md-tab-group class="issues__tabs">
        <md-tab label="Open" fxLayout="row wrap">
            <md-card class="issues__card" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let issue of openIssues">
                <md-card-header>
                    <div md-card-avatar [ngStyle]="{'background-image': 'url(' + issue.user.avatar_url + ')'}"></div>
                    <md-card-title>Issue <strong>{{issue.number}}</strong> by {{issue.user.login}}</md-card-title>
                    <md-card-subtitle>{{issue.title}} <br/><br/> <i>Created at {{issue.created_at | date}}</i>
                    </md-card-subtitle>
                </md-card-header>
                <md-card-actions fxLayoutAlign="end center" fxFlexAlign="end">
                    <a md-button href="{{issue.html_url}}" target="_blank" color="accent">OPEN IN GITHUB</a>
                </md-card-actions>
            </md-card>
        </md-tab>
        <md-tab label="Closed">
            <md-card class="issues__card" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let issue of closedIssues">
                <md-card-header>
                    <div md-card-avatar [ngStyle]="{'background-image': 'url(' + issue.user.avatar_url + ')'}"></div>
                    <md-card-title>Issue <strong>{{issue.number}}</strong> by {{issue.user.login}}</md-card-title>
                    <md-card-subtitle>{{issue.title}} <br/><br/> <i>Closed at {{issue.closed_at | date}}</i>
                    </md-card-subtitle>
                </md-card-header>
                <md-card-actions fxLayoutAlign="end center" fxFlexAlign="end">
                    <a md-button href="{{issue.html_url}}" target="_blank" color="accent">OPEN IN GITHUB</a>
                </md-card-actions>
            </md-card>
        </md-tab>
    </md-tab-group>
</div>
