<div class="home">

    <md-card class="home__stat home__stat--blue" *ngIf="!isLoading">
        <md-card-header>
            <md-card-title class="home__stat__title">{{founder.public_repos}}</md-card-title>
            <md-card-subtitle class="home__stat__subtitle">public repos</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="home__stat__actions">
            <button md-icon-button>
                <md-icon>more_vert</md-icon>
            </button>
        </md-card-actions>
    </md-card>

    <md-card class="home__stat home__stat--yellow" *ngIf="!isLoading">
        <md-card-header>
            <md-card-title class="home__stat__title">{{founder.public_gists}}</md-card-title>
            <md-card-subtitle class="home__stat__subtitle">public gists</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="home__stat__actions">
            <button md-icon-button>
                <md-icon>more_vert</md-icon>
            </button>
        </md-card-actions>
    </md-card>

    <md-card class="home__stat home__stat--purple" *ngIf="!isLoading">
        <md-card-header>
            <md-card-title class="home__stat__title">{{founder.followers}}</md-card-title>
            <md-card-subtitle class="home__stat__subtitle">followers</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="home__stat__actions">
            <button md-icon-button>
                <md-icon>more_vert</md-icon>
            </button>
        </md-card-actions>
    </md-card>

    <md-card class="home__stat home__stat--red" *ngIf="!isLoading">
        <md-card-header>
            <md-card-title class="home__stat__title">{{founder.following}}</md-card-title>
            <md-card-subtitle class="home__stat__subtitle">following</md-card-subtitle>
        </md-card-header>
        <md-card-actions class="home__stat__actions">
            <button md-icon-button>
                <md-icon>more_vert</md-icon>
            </button>
        </md-card-actions>
    </md-card>

    <!--<md-card class="home__chart" *ngFor="let track of tracks">-->
        <!--<md-card-header>-->
            <!--<div md-card-avatar class="home__card__img"-->
                 <!--[ngStyle]="{'background-image': 'url(' + track.artwork_url + ')'}"></div>-->
            <!--<md-card-title>{{track.title}}</md-card-title>-->
            <!--<md-card-subtitle>{{track.user.username}}</md-card-subtitle>-->
        <!--</md-card-header>-->
        <!--<md-card-actions>-->
            <!--<button md-button>LIKE</button>-->
            <!--<button md-button>SHARE</button>-->
        <!--</md-card-actions>-->
    <!--</md-card>-->

</div>
