<div class="home" fxLayout="column" fxLayoutAlign="center flex-start">

    <div class="home__stats" fxFlex="701px" fxFlex.sm="350px" fxFlex.gt-sm="170px" fxLayout fxLayout.lt-md="row wrap"
         fxLayoutAlign="space-between flex-start">
        <md-card class="home__stat home__stat--red" fxFlex="100" fxFlex.gt-xs="47" *ngIf="!isLoading">
            <md-card-header>
                <md-card-title class="home__stat__title">{{repoInfo?.stargazers_count.toLocaleString()}}</md-card-title>
                <md-card-subtitle class="home__stat__subtitle">stargazers</md-card-subtitle>
            </md-card-header>
            <md-card-actions class="home__stat__actions">
                <button md-icon-button>
                    <md-icon>more_vert</md-icon>
                </button>
            </md-card-actions>
        </md-card>

        <md-card class="home__stat home__stat--blue" fxFlex="100" fxFlex.gt-xs="47" *ngIf="!isLoading">
            <md-card-header>
                <md-card-title class="home__stat__title">{{repoInfo.forks.toLocaleString()}}</md-card-title>
                <md-card-subtitle class="home__stat__subtitle">forks</md-card-subtitle>
            </md-card-header>
            <md-card-actions class="home__stat__actions">
                <button md-icon-button>
                    <md-icon>more_vert</md-icon>
                </button>
            </md-card-actions>
        </md-card>

        <md-card class="home__stat home__stat--orange" fxFlex="100" fxFlex.gt-xs="47" *ngIf="!isLoading">
            <md-card-header>
                <md-card-title class="home__stat__title">{{repoInfo.open_issues.toLocaleString()}}</md-card-title>
                <md-card-subtitle class="home__stat__subtitle">open issues</md-card-subtitle>
            </md-card-header>
            <md-card-actions class="home__stat__actions">
                <button md-icon-button>
                    <md-icon>more_vert</md-icon>
                </button>
            </md-card-actions>
        </md-card>

        <md-card class="home__stat home__stat--green" fxFlex="100" fxFlex.gt-xs="47" *ngIf="!isLoading">
            <md-card-header>
                <md-card-title class="home__stat__title">{{repoInfo.subscribers_count.toLocaleString()}}</md-card-title>
                <md-card-subtitle class="home__stat__subtitle">subscribers</md-card-subtitle>
            </md-card-header>
            <md-card-actions class="home__stat__actions">
                <button md-icon-button>
                    <md-icon>more_vert</md-icon>
                </button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="home__charts" fxLayout="row wrap" fxLayoutAlign="space-between flex-start">
        <md-card class="home__chart" fxFlex="100" fxFlex.gt-sm="61">
            <md-card-header>
                <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
                    <span>Contributions (last year)</span>
                    <button md-icon-button>
                        <md-icon>more_vert</md-icon>
                    </button>
                </div>
            </md-card-header>
            <md-card-content class="home__chart__content">
                <ngx-charts-line-chart *ngIf="!isLoading"
                                       [scheme]="colorScheme"
                                       [results]="commits"
                                       [gradient]="gradient"
                                       [xAxis]="showXAxis"
                                       [yAxis]="showYAxis"
                                       [showXAxisLabel]="showXAxisLabel"
                                       [showYAxisLabel]="showYAxisLabel"
                                       [xAxisLabel]="xAxisLabel"
                                       [yAxisLabel]="yAxisLabel"
                                       [autoScale]="autoScale"
                                       (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </md-card-content>
        </md-card>

        <md-card class="home__chart" fxFlex="100" fxFlex.gt-sm="35.3">
            <md-card-header>
                <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
                    <span>Stats</span>
                    <button md-icon-button>
                        <md-icon>more_vert</md-icon>
                    </button>
                </div>
            </md-card-header>
            <!--<md-card-content class="home__chart__content">-->

            <md-list *ngIf="!isLoading">
                <md-list-item *ngFor="let folder of folders">
                    <md-icon md-list-icon color="accent">{{folder.icon}}</md-icon>
                    <h4 md-line>{{folder.text}}</h4>
                    <p md-line> {{folder.subtext}} </p>
                </md-list-item>
            </md-list>

        </md-card>

        <md-card class="home__chart" fxFlex="100" fxFlex.gt-sm="45.3">
            <md-card-header>
                <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
                    <span>Languages</span>
                    <button md-icon-button>
                        <md-icon>more_vert</md-icon>
                    </button>
                </div>
            </md-card-header>
            <md-card-content class="home__chart__content">

                <ngx-charts-pie-chart *ngIf="!isLoading"
                                      [scheme]="colorScheme"
                                      [results]="languages"
                                      [legend]=false
                                      [gradient]="gradient"
                                      [labels]=true
                                      [doughnut]=true
                                      (select)="onSelect($event)">
                </ngx-charts-pie-chart>

            </md-card-content>
        </md-card>


        <md-card class="home__chart" fxFlex="100" fxFlex.gt-sm="51">
            <md-card-header>
                <div class="home__chart__title" fxLayout fxLayoutAlign="space-between center">
                    <span>Top contributors</span>
                    <button md-icon-button>
                        <md-icon>more_vert</md-icon>
                    </button>
                </div>
            </md-card-header>
            <md-card-content class="home__chart__content">

                <!--<ngx-charts-tree-map-->
                        <!--*ngIf="!isLoading"-->
                <!--[view]="view"-->
                <!--[scheme]="colorScheme"-->
                <!--[results]="contributors"-->
                <!--(select)="onSelect($event)">-->
                <!--</ngx-charts-tree-map>-->

                <ngx-charts-bar-vertical
                        *ngIf="!isLoading"
                        [scheme]="colorScheme"
                        [results]="contributors"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]=false
                        (select)="onSelect($event)">
                </ngx-charts-bar-vertical>

            </md-card-content>
        </md-card>
    </div>
</div>
