//@import "../../../../../src/theme/theme-variables";

.home {
  height: calc(100vh - 64px); //TODO: remove this
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &__stats,
  &__charts {
    width: 100%;
  }

  // md-card overrides
  &__stat,
  &__chart {
    box-shadow: 0 0 1px -4px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    margin: 8px;
  }

  &__stat {
    color: white;

    &__title {
      font-size: 2.3rem !important;
    }

    &__subtitle {
      color: white;
      font-weight: 200;
    }

    &__actions {
      float: right;
    }

    &--blue {
      background: #03A9F4;
    }

    &--yellow {
      background: #ffc107;
    }

    &--purple {
      background: #d559ea;
    }

    &--red {
      background: #ff5652;
    }
  }

  &__chart {
    min-height: 350px;

    &__title {
      font-weight: 600;
      width: 100%;
    }

    &__content {
      height: 300px;
    }
  }

}
